.findings
  h1 Фурнитура
  p Выбор фурнитуры для вашей мебели Вы можете выбрать у наших партнерова-поставщиков 
    a(href="http://aks.by/") aks.by
    |, 
    a(href="http://wline.by/") wline.by
