- var texts = ["Ultra High Glass", "ДСП", "Пластики Arpa hpl"]
.text
    h1 Образцы материалов
    each exampleurls, i in material_examples
        each exampleurl in exampleurls
            .materialExample
                h1 #{texts[i]}
                a(href="#") Посмотреть каталог
                img(src="#{exampleurl}", style="width: 100%;")
