.text
  h1 Образцы материалов
  p Огромный выбор материалов для Вас, от наших партнеров-поставщиков 
    a(href="http://avva-minsk.by/") avva-minsk.by
    |,
    a(href="http://bkk.by/") bkk.by
    |,
    a(href="http://hlz.by/") hlz.by
