meta(charset="utf-8")
title Юлден Мебель

link(href="./img/favicon.ico" rel="icon" type="image/x-icon")
link(rel="stylesheet" href="./css/styles.css")
script(src="./js/fetch.min.js" defer)
script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="./js/lightgallery.min.js" defer)
script(src="./js/index.js" defer)
